
<li>hi</li>
<li>hello</li>

<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy1.jpg", :class => 'lazy',:height => "350px",:width => "350px") %><br>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy1.jpg", :class => 'lazy',:height => "350px",:width => "350px") %><br>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy2.jpg", :class => 'lazy',:height => "350px",:width => "350px") %><br>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy3.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>

<li>hi</li>
<li>hello</li>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy4.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy5.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy6.jpg", :class => 'lazy',:height => "350px",:width => "350px") %><br>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy7.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy8.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>

<li>hi</li>
<li>hello</li>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy9.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy10.jpg", :class => 'lazy',:height => "350px",:width => "350px") %><br>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy11.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy12.jpg", :class => 'lazy',:height => "350px",:width => "350px") %><br>

<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy13.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy14.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy15.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>
<%= image_tag("/images/loading.gif", :'data-original' => "/images/lazy16.jpg", :class => 'lazy',:height => "350px",:width => "350px") %>


<li>bye</li>



































 <!--<img class="lazy" src="index.jpeg" data-original="index.jpeg"  width="640" heigh="480">-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->
<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->

<!--<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elementum elementum felis. Quisque porta turpis nec eros consectetur lacinia. Pellentesque sagittis adipiscing egestas.</li>-->
<!--<li>  	Aliquam dapibus tincidunt odio. Phasellus volutpat dui nec ante volutpat euismod.</li>-->
<!--<li>  	Phasellus vehicula turpis nec dui facilisis eget condimentum risus ullamcorper. Nunc imperdiet, tortor ultrices aliquam eleifend, nisl turpis venenatis dui, at vestibulum magna tellus in tortor.</li>-->


